@charset "UTF-8";
.container{overflow: auto;
	scroll-snap-type: y mandatory; /* y축에 스크롤 스냅 적용 */
	height: 100vh;
	 
	}
	
	
.top{
	background-image: url("../webimg/1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center; 
	font-size: 42px;
 	font-family: 'Rubik Iso', cursive;
 	font-family: 'Shadows Into Light', cursive;
   padding-top: 200px;
    scroll-snap-align: start;	
    line-height: 100px
    ;
    
}
.middle p1{display:table-footer-group;
}
.middle{
	background-image: url("../webimg/Viva_La-Vida.jpg") ;width:100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: white;
	text-align: left;
	font-size: 30px;
	scroll-snap-align: start;
	line-height: 100px;
	font-family: 'Alfa Slab One', cursive;
font-family: 'Notable', sans-serif;
	
}

.bottom{
	background-image: url("../webimg/2.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	text-align: right;
	scroll-snap-align: start;
	font-size: 30px;
	font-family: 'Alfa Slab One', cursive;
font-family: 'Notable', sans-serif;
}
.end{
	background-image: url("../webimg/4.jpg");
	height: 100vh;
		scroll-snap-align: start;}
.end .contactsns{display: flex;
	width:300px;
	color: white;
	background-repeat:no-repeat;
text-align: center;
padding-left: 800px;
}



	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	