@charset "UTF-8";
body{
background-color: #c0c0c0;	
}


form{text-align: center;
background-color: #c0c0c0;

}
h2{ font-size: 30px;
color: #00ff00; 
font-weight: 900;
text-align: center;
}
.name {
text-align:left;
padding-left:870px;
font-size: 5px;
font-weight: bold;
color: black;
}
.box{
	padding-left: 200px;
	padding-right: 200px;
margin: 2px;
	
}
.box2{text-align:center;
	padding-left: 200px;
	padding-right: 200px;
	
}
.box3{
	padding-left: 200px;
	padding-right: 200px;
margin: 2px;
	
}
