@charset "UTF-8";

/* 기본css제거 */
*{margin: 0px; padding: 0px; font-family: '굴림';  }
a{text-decoration: none; color: black;}
a:hover{color: gray;}
li{list-style-type: none;} 


@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* -----------------헤더-------------- */

#heder{width: 150 px;}
#hd_box{width: 1200px; margin: 0 auto;}
.logobox{float: left; margin: 30px 0 0 30px;}
.menus{float: right; text-align: right;}
.menus li{display: inline;}
.top_menu{margin: 30px 0px;}
.main_menu li a{
	font-family:"궁서";
	font-size: 20px; margin-left: 100px;
}
/* -----------------메인이미지-------------- */
#main_img {clear: both; /* 앞 태그에서 사용되는 flot를 제거 */
	width: 100%;
	height: 250px;			
	background-image:url("img/main_bg.png");
	background-repeat: no-repeat; /* 자동채우기 제거  */
	background-position: top center; /*박스권 배경 이미지 정렬  */
	margin: 20px;
	}
/* -----------------본문-------------- */
#content{width: 1200px; margin:0 auto; }
/* -----------------사이드바------------- */
.sidebar{ float: left; width: 250px; margin-bottom: 50px;}
.sb_title1{background-color: #0ca9a3; color: white; padding:15px;
font-size : 20px;
}




.sb_comment{padding : 15px; line-height : 150%}
.searchbox{ padding: 15px;}
.searchbox input{width: 150px; height: 30px; }
.searchbox button { margin-left: 5px; padding: 8px 10px;}	
.sidebar .sb_title2{border-top:solid 2px black;
					border-bottom: solid 1px #c0c0c0;
					padding: 15px;
					font-size: 15px;
}
.sidebar .sb_list{  
	padding: 15px;  
}
.sidebar .sb_list li{padding: 10px; }
/*----------------------------------------------------------  */
.main_content{float: right; width: 900px;}
.left_main{float: left; width: 440px;}

.left_main .main_title{ border-bottom: solid 2px black; padding-bottom: 8px;}
.left_main .board_ul{margin: 10px 0px 40px 0px;}
.left_main .board_ul .item{height: 40px;}
.item .title{float: left;}
.item .date{float: right;}

.right_main{float: right;width: 440px;}
.right_main .main_title{ padding-bottom: 8px;}

.right_main .product_ul{float: left; width: 200px; margin: 20px 0 0 10px;}
/*-----------------------푸터-------------------------------------  */
#footer{clear: both; /* flot 제거 */
background-color: #05354e; 
color: white;
height: 300px; }

.ft_box{width: 1200px; margin: 0 auto;}
.ft_menu{padding: 20px; font-weight: bold;}
.ft_menu li{display:  inline; margin-right: 30px;}

.ft_box .item{float: left; margin: 20px 50px 20px 50px;}

.ft_item_ul{ margin-top: 10px; width: 300px;}
.ft_item_ul li{margin: 5px;}





















